Algo/drafts/
Algo/semestr1/L1/
Algo/semestr1/L2/
Algo/semestr2/CF/
Algo/semestr2/session/
Algo/solutions/
Cpp/semestr2/deque/
Cpp/semestr2/list/
Cpp/semestr2/map/
Cpp/semestr2/session/
English/
Matan/
Python/
TP/TP_2021_Spring/
TP/TP_Patterns/
TP/TechProgTemplates/
TP/educ/full_mark
TP/task5/
