{
    "fields": "has_photo, last_seen, can_write_private_message, bdate, sex",
    "table_columns": ", has_photo bigint, last_seen bigint, can_write_private_message bigint, bdate date, sex bigint",
    "groups": [
        "fpmi2020",
        "fpmi_students"
    ],
    "group_filter": [
        "DELETE FROM people WHERE deactivated = 'banned';",
        "DELETE FROM people WHERE deactivated = 'deleted';",
        "DELETE FROM people WHERE can_access_closed = False;",
        "DELETE FROM people WHERE has_photo = 0;",
        "DELETE FROM people WHERE can_write_private_message = 0;",
        "DELETE FROM people WHERE last_seen IS NULL;",
        "DELETE FROM people WHERE last_seen < ({time} - 14*24*60*60);",
        "DELETE FROM people WHERE NOT EXTRACT(YEAR FROM bdate) BETWEEN ({year} - 100) AND ({year} - 18);"
    ],
    "friend_filter": [
        "DELETE FROM people WHERE total_friends IS NULL;",
        "DELETE FROM people WHERE total_friends < 40;"
    ],
    "drop_zero_people": true
}
